@import 'variable';

.grobalnavList {
  display: flex;
  font-weight: bold;

  .navListItem {
    & + .navListItem {
      margin-left: 10px;
    }
    a {
      position: relative;
      display: block;
      border-radius: 2px;
      padding: 6px 16px;
      transition: $transitionSpeed;

      &:hover {
        background-color: #21f0ae;
        color: #ffffff;
      }
    }
  }

  :global {
    .isActive {
      a {
        color: $baseColor;
      }
    }
  }
}

@include mq(md) {
  .grobalnavList {
    max-width: 100%;
    justify-content: center;

    .navListItem {
      max-width: 100%;

      & + .navListItem {
        margin-left: 0;
      }

      a {
        &:hover {
          background-color: #ffffff;
          color: $defaultTextColor;
        }
      }
    }

    :global {
      .isActive {
        a {
          &:hover {
            color: $baseColor;  
          }
        }
      }
    }
  }
}
@include mq(sm) {
  .grobalnavList {
    font-size: 1.6rem;

    .navListItem {
      a {
        padding: 10px 8px;
      }
    }
  }
}
