@import 'variable';

.header {
    background-color: #ffffff;
    margin-bottom: 40px;
    padding-top: 4px;
    height: 60px;
    z-index: 200;

    .headerWrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;

        h1.headerTitle {
            margin: 0;
            font-size: 2rem;

            a {
                color: $defaultTextColor;
                transition: $transitionSpeed;

                &:hover {
                    color: $baseColor;
                }
            }
        }
    }
    @include mq(md) {
        .headerWrapper {
            display: block;

            h1.headerTitle {
                text-align: center;
                font-size: 2.4rem;

                a {
                    color: $defaultTextColor;
                    transition: 0;

                    &:hover {
                        color: $defaultTextColor;
                    }
                }
            }
        }
    }
}
