@use 'sass:math';
@import 'variable';

.contentWrapper {
  min-height: 500px;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .text {
    text-align: center;
    .sm {
      display: none;
    }
    @include mq(sm) {
      .sm {
        display: block;
      }
    }
  }

  .emailWrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    width: 420px;
    max-width: 100%;
    margin: 16px auto 0;
    padding: 6px 20px 6px 86px;
    border: 1px solid $grayBorderColor;
    border-radius: 4px;
    word-break: break-all;

    .emailIcon {
      position: absolute;
      width: $iconImgSize;
      height: 24px;
      top: 50%;
      left: 28px;
      margin-top: math.div(-24px, 2);

      &::after {
        position: absolute;
        display: inline-block;
        content: '';
        background-color: #ebebeb;
        width: $iconSize;
        height: $iconSize;
        top: 50%;
        left: 50%;
        margin-top: math.div(-$iconSize, 2);
        margin-left: math.div(-$iconSize, 2);
        border-radius: 50%;
        z-index: 10;
      }
    }
    .email {
      padding: 20px 40px 20px 20px;
      cursor: text;

      span {
        transition: $transitionSpeed;
        padding: 0 4px;

        &::selection {
          color: #ffffff;
          background-color: $baseColor;
        }
      }

      &:hover {
        span {
          color: $baseColor;
        }
      }
    }
  }

  @include mq(sm) {
    min-height: 400px;

    .emailWrapper {
      width: 100%;
      padding-right: 0;

      .emailIcon {
        width: $iconImgSizeMD;
        height: 21px;
        left: 40px;
        margin-top: math.div(-20px, 2);

        &::after {
          width: $iconSizeMD;
          height: $iconSizeMD;
          margin-top: math.div(-$iconSizeMD, 2);
          margin-left: math.div(-$iconSizeMD, 2);
        }
      }

      .email {
        padding: 20px 20px 20px 20px;
      }
    }
  }

  .linkSection {
    margin-top: 100px;
    .subTitle {
      font-size: 3.2rem;
      text-align: center;

      @include mq(sm) {
        font-size: 2.4rem;
      }
    }

    .linkList {
      display: flex;
      justify-content: space-between;
      align-items: center;
      max-width: 800px;
      margin: 20px auto 0;

      .list {
        position: relative;
        width: 320px;

        &:nth-of-type(2) {
          :global {
            .pageLink {
              background-color: $wantedlyColor;
              border-bottom: 6px solid $wantedlyBorderColor;
              &:hover {
                background-color: $wantedlyHoverColor;
                border-bottom: 6px solid $wantedlyHoverBorderColor;
              }
            }
          }
        }

        & + .list {
          margin-left: 20px;
        }
      }
    }

    @include mq(sm) {
      margin-top: 60px;

      .linkList {
        display: block;
        max-width: 100%;

        .list {
          width: 100%;

          & + .list {
            margin-left: 0;
            margin-top: 10px;
          }
        }
      }
    }
  }

  .icon {
    z-index: 100;
  }
}
