@use "sass:math";
@import "./Base/variable";

$iconImgSize: 32px;
$iconSize: 48px;

.contentWrapper {
  min-height: 500px;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .text {
    text-align: center;
  }

  .emailWrapper {
    display: flex;
    align-items: center;
    background-color: #ffffff;
    max-width: 420px;
    margin: 16px auto 0;
    border: 1px solid $grayBorderColor;
    padding: 20px 40px;
    border-radius: 4px;
    word-break: break-all;

    .emailIcon {
      position: relative;
      width: $iconImgSize;
      height: 24px;
      margin-right: 42px;

      &::after {
        position: absolute;
        display: inline-block;
        content: "";
        background-color: #ebebeb;
        width: $iconSize;
        height: $iconSize;
        top: 50%;
        left: 50%;
        margin-top: math.div(-$iconSize, 2);
        margin-left: math.div(-$iconSize, 2);
        border-radius: 50%;
        z-index: 10;
      }
    }
  }

  @include mq(sm) {
    .emailWrapper {
      max-width: 100%;
      width: 100%;
      padding: 16px 10px 16px 20px;
      justify-content: center;

      .emailIcon {
        position: relative;
        width: $iconImgSize;
        height: 24px;
        margin-right: 42px;

        &::after {
          position: absolute;
          display: inline-block;
          content: "";
          background-color: #ebebeb;
          width: $iconSize;
          height: $iconSize;
          top: 50%;
          left: 50%;
          margin-top: math.div(-$iconSize, 2);
          margin-left: math.div(-$iconSize, 2);
          border-radius: 50%;
          z-index: 10;
        }
      }
    }
  }

  .linkSection {
    .subTitle {
      font-size: 3.2rem;
      text-align: center;
    }
    margin-top: 100px;

    .linkList {
      display: flex;
      justify-content: space-between;
      align-items: center;
      max-width: 800px;
      margin: 20px auto 0;

      .list {
        position: relative;
        width: 320px;

        &:nth-of-type(2) {
          :global {
            .pageLink {
              background-color: $wantedlyColor;
              border-bottom: 6px solid $wantedlyBorderColor;
              &:hover {
                background-color: $wantedlyHoverColor;
                border-bottom: 6px solid $wantedlyHoverBorderColor;
              }
            }
          }
        }

        & + .list {
          margin-left: 20px;
        }
      }
    }

    @include mq(sm) {
      .linkList {
        display: block;
        max-width: 100%;

        .list {
          width: 100%;

          & + .list {
            margin-left: 0;
            margin-top: 10px;
          }
        }
      }
    }
  }

  .icon {
    z-index: 100;
  }
}
