@use "sass:math";
@import "variable";

$iconImgSize: 32px;
$iconSize: 48px;

html {
  -webkit-text-size-adjust: 100%;
  font-size: 62.5%;
  height: -webkit-fill-available;
}

body {
  padding: 0;
  margin: 0;
  // font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  //   Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-family: "Roboto", sans-serif;
  font-family: "Zen Kaku Gothic New", sans-serif;
  line-height: 1.5;
  font-size: 1.8rem;
  color: $defaultTextColor;
  min-height: 100vh;
  min-height: -webkit-fill-available;
}

a {
  color: $defaultTextColor;
  text-decoration: none;
}

* {
  box-sizing: border-box;

  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
  -ms-interpolation-mode: bicubic;
}

button,
input {
  outline: none;
}

li {
  display: block;
}

main {
  display: block;
}

.inner {
  width: calc(100% - 20px);
  max-width: 1080px;
  margin: 0 auto;
}

.logoName {
  font-family: "Caveat", cursive;
}

.arrowIcon {
  position: relative;

  &::before,
  &::after {
    position: absolute;
    display: inline-block;
    content: "";
    width: 18px;
    height: 4px;
    top: 50%;
    right: 28px;
    margin-top: 0;
    border-radius: 2px;
    background-color: #ffffff;
    z-index: 10;
  }

  &::before {
    transform: rotate(45deg) translateY(-8px);
  }

  &::after {
    transform: rotate(-45deg) translateY(8px);
  }
}

.pageLink {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  width: 100%;
  min-height: 72px;
  border-bottom: 4px solid $linkBtnBorderColor;
  border-radius: 6px;
  padding: 6px 48px 6px 80px;
  background-color: $linkBtnColor;
  transition: $transitionSpeed;
  word-break: break-all;

  .linkIcon {
    position: absolute;
    display: block;
    width: $iconImgSize;
    height: $iconImgSize;
    margin-right: 54px;
    top: 18px;
    left: 28px;

    &::after {
      position: absolute;
      display: inline-block;
      content: "";
      background-color: #f8fffe;
      width: $iconSize;
      height: $iconSize;
      top: 50%;
      left: 50%;
      margin-top: math.div(-$iconSize, 2);
      margin-left: math.div(-$iconSize, 2);
      border-radius: 50%;
      z-index: 10;
    }
  }

  &:hover {
    background-color: $linkBtnHoverColor;
    border-bottom: 4px solid $linkBtnHoverBorderColor;
  }
}

.icon {
  z-index: 100;
}