@import "./Base/variable";

.homeWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: calc(100vh - 200px);

  .homeName {
    font-size: 8.4rem;
    margin: 0;
    margin-bottom: 20px;

    @include mq(lg) {
      font-size: 6.4rem;
    }
  }
  .text {
    margin: 0;
    font-size: 3rem;
  }

  @include mq(sm) {
    .homeName {
      font-size: 4.2rem;
    }
    .text {
      font-size: 2.8rem;
    }
  }
}
