@import "variable";

.notfound {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 200px);
  margin: 0 auto;
  section {
    text-align: center;

    h1 {
      font-size: 18px;
      font-weight: bold;

      span {
        position: relative;
        padding-right: 20px;

        &::after {
          position: absolute;
          display: inline-block;
          content: "";
          width: 2px;
          height: 20px;
          top: 50%;
          right: 12px;
          margin-top: -10px;

          background-color: #505050;
        }
      }
    }

    .returnBtn {
      display: inline-block;
      color: #ffffff;
      max-width: 280px;
      width: 100%;
      margin-top: 40px;
      border-bottom: 3px solid $linkBtnBorderColor;
      border-radius: 6px;
      padding: 12px 20px 12px 8px;
      background-color: $linkBtnColor;
    }
  }
}
